# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venvm/

# Environment / secrets
.env

# Data & outputs
data/
outputs/
logs/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

